<!-- SSR:template(wish-list-count) -->
<script type="x/template" data-component="wish-list-count">
    <a :href="urlWishList" rel="nofollow" class="nav-link" :aria-label="$translate('Ceres::Template.wishList')">
        <div class="header-icon-item">
            <i class="hii-icon fa" :class="{'fa-heart-o': !wishListCount, 'fa-heart': wishListCount}" aria-hidden="true"></i>
            <span class="hii-text">{{ trans("Ceres::Template.wishList") }}</span>
        </div>
    </a>
</script>
<!-- /SSR -->