<!-- SSR:template(wish-list-count) -->
<script type="x/template" data-component="wish-list-count">
    <a :href="urlWishList" rel="nofollow" class="nav-link" :aria-label="$translate('Ceres::Template.wishList')">
        <div class="header-icon-item">
            <span class="hii-icon pl-material" :class="{'pl-outline-favorite_border': !wishListCount, 'pl-outline-favorite': wishListCount}" ></span>
            <span class="hii-text">{{ trans("Ceres::Template.wishList") }}</span>
        </div>
    </a>
</script>
<!-- /SSR -->