.top-bar,
.top-bar a:not(.btn) {
    color: #000;
}

.top-bar-items {
    padding: 0.25rem 0;
}

.top-bar .contact-info {
    display: flex;
    margin: 0 0 0 auto;
}

.top-bar .contact-info>li:not(:last-of-type) {
    margin: 0 0.5rem;
}

.top-bar .contact-info .fa {
    font-size: 1.2rem;
    margin: 0 0.25rem 0 0.5rem;
}

.top-bar .contact-info .fa-whatsapp {
    color: #009e0f;
}

.wish-list-top {
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

.arguments-slider-wrapper {
    flex: 1;
    overflow: hidden;
}

.argument-item {
    overflow: hidden;
    height: 21px;
    text-overflow: ellipsis;
    font-weight: 700;
}

.arguments-slider:not(.slick-slider) {
    display: flex;
    justify-content: space-between;
}

#vue-app .navbar>.nv-wrap {
    padding: 0 !important;
}

.search-div {
    position: relative;
}

.searchCol {
    position: absolute;
    bottom: 0;
}

#searchBox.show {
    display: block;
}

input.search-input {
    outline-color: transparent !important;
}

.navbar-brand {
    text-align: center;
    padding: 0;
    margin: 0;
}

.navbar-brand .logo-sub-title {
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    color: #b45f06;
    margin-top: 0.25rem;
}

.header-icon-item {
    text-align: center;
}

.header-icon-item .hii-icon {
    font-size: 22px;
}

.header-icon-item .hii-text {
    display: block;
}

.toggle-basket-preview {
    color: inherit !important;
}

.navbar-toggler {
    margin-left: -10px;
}

@media (max-width: 991.98px) {
    .top-bar .contact-info .text {
        display: none;
    }

    .arguments-slider-wrapper {
        text-align: center;
    }

    .toggle-basket-preview {
        padding-right: 0 !important;
    }

    .navbar .nav-link {
        padding: 1rem 0.8rem;
    }

    .navbar-brand {
        padding: 0.5rem 0;
    }

    .navbar-brand img {
        max-height: 40px;
    }

    .wish-list-div {
        display: none;
    }

    .navbar-brand .logo-sub-title,
    .header-icon-item .hii-text {
        display: none;
    }
}

.basket .basket-item-container .basket-item .meta-container-wrapper .meta-container-wrapper-inner .meta-container .item-name,
.basket .basket-item-container .basket-item .meta-container-wrapper .meta-container-wrapper-inner .meta-container .item-base-price,
.basket .basket-item-container .basket-item .meta-container-wrapper .meta-container-wrapper-inner .meta-container .item-small-prices,
.basket .basket-item-container .basket-item .item-additional-information-container .item-additional-information {
    font-size: 90%;
}

.page-content.checkout .btn-success {
    background-color: #729C2D;
    border-color: #729C2D;
}

.page-content.checkout .btn-success:hover,
.page-content.checkout .btn-success:focus,
.page-content.checkout .btn-success.focus,
.page-content.checkout .btn-success:active,
.page-content.checkout .btn-success.active,
.open>.page-content.checkout .btn-success.dropdown-toggle,
.page-content.checkout .btn-success.disabled:hover,
.page-content.checkout .btn-success:disabled:hover,
.page-content.checkout .btn-success.disabled:focus,
.page-content.checkout .btn-success:disabled:focus,
.page-content.checkout .btn-success.disabled.focus,
.page-content.checkout .btn-success:disabled.focus,
.page-content.checkout .btn-success:active:hover,
.page-content.checkout .btn-success.active:hover,
.open>.page-content.checkout .btn-success.dropdown-toggle:hover,
.page-content.checkout .btn-success:active:focus,
.page-content.checkout .btn-success.active:focus,
.open>.page-content.checkout .btn-success.dropdown-toggle:focus,
.page-content.checkout .btn-success:active.focus,
.page-content.checkout .btn-success.active.focus,
.open>.page-content.checkout .btn-success.dropdown-toggle.focus {
    background-color: #557422;
    border-color: #557422;
}

@media (max-width: 767px) {
    .prod-actions-footer-text {
        display: none;
    }

    .single .qty-box .qty-btn-container {
        width: 96px;
    }

    .single .qty-box .qty-btn-container .qty-btn:first-child,
    .single .qty-box .qty-btn-container .qty-btn:last-child {
        width: 26px;
    }

    .single .qty-box .qty-input {
        margin: 0 32px;
    }

    .qty-box .qty-btn-container .qty-btn .pl-material {
        font-size: 2.5rem;
        line-height: 35px;
    }

    .home .widget-image-carousel+.widget-grid-1-1-1 {
        display: none;
    }
}