.top-bar {
    background-color: #fff;
}

.top-bar,
.top-bar a:not(.btn),
.navbar .nv-wrap a {
    color: #4E4E4E !important;
}

.navbar .nv-wrap a,
.top-bar a:not(.btn) {
    text-transform: uppercase;
}

.top-bar,
.top-bar a:not(.btn) {
    font-size: 0.93rem;
}

.navbar .nv-wrap a:focus,
.navbar .nv-wrap a:hover {
    color: #729C2D !important;
}

.navbar .nv-wrap a.nav-link {
    padding: 1.3rem 1.15rem;
}

.toggle-basket-preview {
    padding-right: 0 !important;
}

.top-bar-items {
    padding: 0.25rem 0;
}

.top-bar .contact-info {
    display: flex;
    margin: 0 0 0 auto;
    align-items: center;
}

.top-bar .contact-info>li {
    line-height: 1;
}

.top-bar .contact-info>li:not(:last-of-type) {
    margin: 0 0.5rem;
}

.top-bar .contact-info .fa {
    font-size: 1.1rem;
    margin: 0 0.25rem 0 0.5rem;
}

.top-bar .contact-info .fa-whatsapp {
    color: #009e0f;
}

.wish-list-top {
    font-size: 1.2rem;
    margin-right: 35px;
}

.arguments-slider-wrapper {
    flex: 1;
    overflow: hidden;
}

.argument-item {
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
}

.arguments-slider:not(.slick-slider) {
    display: flex;
    justify-content: space-between;
}

.arguments-slider:not(.slick-slider) .argument-item {
    flex: 1;
}

#vue-app .navbar>.nv-wrap {
    padding: 0 !important;
}

.trusted-link img {
    width: 50px;
    margin-right: 10px;
}

.trustami-img {
    width: 58px !important;
}

.search-div {
    position: relative;
}

.searchCol {
    position: absolute;
    bottom: 0;
    width: 280px;
    right: 0;
    padding: 10px;
    background: #fff;
    border: 1px solid #d0d0d0;
    transform: translate(0, 100%);
}

.searchCol>div {
    position: relative;
}

.searchCol>div:before {
    content: "";
    position: absolute;
    top: -18px;
    right: 15px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #d0d0d0;
}

.searchCol>div:after {
    content: "";
    position: absolute;
    top: -17px;
    right: 15px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
}

#searchBox {
    display: block;
}

#searchBox.collapse:not(.show) {
    display: none;
}

input.search-input {
    outline-color: transparent !important;
}

.navbar-brand {
    text-align: center;
    margin: 0;
    padding: 0.5rem 0;
}

.header-icon-item {
    text-align: center;
}

.header-icon-item .hii-icon {
    font-size: 22px;
}

.header-icon-item .hii-text {
    display: block;
}

.toggle-basket-preview {
    color: inherit !important;
}

.navbar-toggler {
    margin-left: -10px;
}

@media (max-width: 991.98px) {
    .top-bar .contact-info .text {
        display: none;
    }

    .arguments-slider-wrapper {
        text-align: center;
    }

    .arguments-slider:not(.slick-initialized) {
        display: none;
    }

    .top-bar .contact-info .fa {
        margin: 0;
    }

    .top-bar .contact-info li:first-child {
        margin-right: 2rem;
        margin-left: 0;
    }

    .navbar .nv-wrap a.nav-link {
        padding: 1.3rem 0.5rem;
    }

    .toggle-basket-preview {
        padding-right: 0 !important;
    }

    .navbar .nav-link {
        padding: 1rem 0.8rem;
    }

    .navbar-brand img {
        max-height: 40px;
    }

    .wish-list-div {
        display: none;
    }

    .header-icon-item .hii-text {
        display: none;
    }
}

.basket .basket-item-container .basket-item .meta-container-wrapper .meta-container-wrapper-inner .meta-container .item-name,
.basket .basket-item-container .basket-item .meta-container-wrapper .meta-container-wrapper-inner .meta-container .item-base-price,
.basket .basket-item-container .basket-item .meta-container-wrapper .meta-container-wrapper-inner .meta-container .item-small-prices,
.basket .basket-item-container .basket-item .item-additional-information-container .item-additional-information {
    font-size: 90%;
}

.page-content.checkout .btn-success {
    background-color: #729C2D;
    border-color: #729C2D;
}

.page-content.checkout .btn-success:hover,
.page-content.checkout .btn-success:focus,
.page-content.checkout .btn-success.focus,
.page-content.checkout .btn-success:active,
.page-content.checkout .btn-success.active,
.open>.page-content.checkout .btn-success.dropdown-toggle,
.page-content.checkout .btn-success.disabled:hover,
.page-content.checkout .btn-success:disabled:hover,
.page-content.checkout .btn-success.disabled:focus,
.page-content.checkout .btn-success:disabled:focus,
.page-content.checkout .btn-success.disabled.focus,
.page-content.checkout .btn-success:disabled.focus,
.page-content.checkout .btn-success:active:hover,
.page-content.checkout .btn-success.active:hover,
.open>.page-content.checkout .btn-success.dropdown-toggle:hover,
.page-content.checkout .btn-success:active:focus,
.page-content.checkout .btn-success.active:focus,
.open>.page-content.checkout .btn-success.dropdown-toggle:focus,
.page-content.checkout .btn-success:active.focus,
.page-content.checkout .btn-success.active.focus,
.open>.page-content.checkout .btn-success.dropdown-toggle.focus {
    background-color: #557422;
    border-color: #557422;
}

@media (max-width: 767px) {
    .prod-actions-footer-text {
        display: none;
    }

    .single .qty-box .qty-btn-container {
        width: 96px;
    }

    .single .qty-box .qty-btn-container .qty-btn:first-child,
    .single .qty-box .qty-btn-container .qty-btn:last-child {
        width: 26px;
    }

    .single .qty-box .qty-input {
        margin: 0 32px;
    }

    .qty-box .qty-btn-container .qty-btn .pl-material {
        font-size: 2.5rem;
        line-height: 35px;
    }

    .home .widget-image-carousel+.widget-grid-1-1-1 {
        display: none;
    }
}